# Test of MySqlHelper
## Build up a connection and cursor

In [1]:
from mysqlhelper import MySqlHelper
dial = MySqlHelper(user='root', password='11235HHe')
print(dial)

<mysqlhelper.MySqlHelper object at 0x0000029A0505AE40>

## Database manipulation

In [2]:
dial.create_database('people')
dial.use_database('people')

## Table creation and manipulation

In [3]:
dial.show_tables()

()

In [4]:
# Create a table
dial.create_table('student',
                  {'name':'varchar(16) not null',
                   'height':'decimal(3,2)'},
                  add_id_col=True)
dial.table_info('student')

Execute command: create table if not exists student (`id` int unsigned not null primary key auto_increment, `name` varchar(16) not null, `height` decimal(3,2)) default charset=utf8

(('id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(16)', 'NO', '', None, ''),
 ('height', 'decimal(3,2)', 'YES', '', None, ''))

In [5]:
dial.show_tables()

(('student',),)

In [6]:
# Insert new column
dial.insert('student','age','int')
dial.table_info('student')

(('id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(16)', 'NO', '', None, ''),
 ('height', 'decimal(3,2)', 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''))

In [7]:
# Delete a column
dial.drop_column('student','age')
dial.table_info('student')

(('id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(16)', 'NO', '', None, ''),
 ('height', 'decimal(3,2)', 'YES', '', None, ''))

In [8]:
# Modify column setting
dial.modify_column('student','height','decimal(5,2)')
dial.table_info('student')

(('id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(16)', 'NO', '', None, ''),
 ('height', 'decimal(5,2)', 'YES', '', None, ''))

## Write and read of data

In [9]:
# Insert data to table
dial.append('student',
            column_names=['name','height'],
            values=[
                ('Jason',172),
                ('Alice',158),
                ('Bob',175.1),
                ('Nick',182),
                ('Mary',173.5),
                ('Tina',167)
            ])
# Show content of table
dat, col = dial.select('student')
print(col, *dat, sep='\n')

Table will not be truncated according to the 'iloc_range' input.
['id', 'name', 'height']
(1, 'Jason', Decimal('172.00'))
(2, 'Alice', Decimal('158.00'))
(3, 'Bob', Decimal('175.10'))
(4, 'Nick', Decimal('182.00'))
(5, 'Mary', Decimal('173.50'))
(6, 'Tina', Decimal('167.00'))

In [10]:
# Insert data using dict
dial.append('student',
            col_dat_dict={
                'name':['Louise','Richard','Kate'],
                'height':[188,177.2,164],
                'id':[13,15,18]
            })
# Show content of table
dat, col = dial.select('student')
print(col, *dat, sep='\n')

Table will not be truncated according to the 'iloc_range' input.
['id', 'name', 'height']
(1, 'Jason', Decimal('172.00'))
(2, 'Alice', Decimal('158.00'))
(3, 'Bob', Decimal('175.10'))
(4, 'Nick', Decimal('182.00'))
(5, 'Mary', Decimal('173.50'))
(6, 'Tina', Decimal('167.00'))
(13, 'Louise', Decimal('188.00'))
(15, 'Richard', Decimal('177.20'))
(18, 'Kate', Decimal('164.00'))

In [11]:
# Delete specific rows of data
dial.drop_row('student', where='height >= %s', where_params=(180,))
# Show content of table
dat, col = dial.select('student')
print(col, *dat, sep='\n')

Table will not be truncated according to the 'iloc_range' input.
['id', 'name', 'height']
(1, 'Jason', Decimal('172.00'))
(2, 'Alice', Decimal('158.00'))
(3, 'Bob', Decimal('175.10'))
(5, 'Mary', Decimal('173.50'))
(6, 'Tina', Decimal('167.00'))
(15, 'Richard', Decimal('177.20'))
(18, 'Kate', Decimal('164.00'))

In [12]:
# Modify sepecific data
dial.modify_row_data('student',{'height':180},where='name = %s',where_params=('Richard',))
# Show content of table
dat, col = dial.select('student')
print(col, *dat, sep='\n')

Table will not be truncated according to the 'iloc_range' input.
['id', 'name', 'height']
(1, 'Jason', Decimal('172.00'))
(2, 'Alice', Decimal('158.00'))
(3, 'Bob', Decimal('175.10'))
(5, 'Mary', Decimal('173.50'))
(6, 'Tina', Decimal('167.00'))
(15, 'Richard', Decimal('180.00'))
(18, 'Kate', Decimal('164.00'))

In [13]:
# Show specific part of a table
dat, col = dial.select('student',('name','height'),
                       where='height<%s',where_params=(173,),
                       sort_col='height',asc_sort=True)
print(col, *dat, sep='\n')

Table will not be truncated according to the 'iloc_range' input.
['name', 'height']
('Alice', Decimal('158.00'))
('Kate', Decimal('164.00'))
('Tina', Decimal('167.00'))
('Jason', Decimal('172.00'))

## Delete table

In [14]:
dial.delete_table('student')
dial.show_tables()

()

# Close the cursor and connection

In [15]:
dial.close()